<%- include("../partials/head.html") %> 
<div>
    My name is <%= user.name%> 
    <br>
    A student of <%= user.school  %> 
    <br>

<% numbers.forEach(element => { %>
    <span>
        <%= element  %> 
    </span>

<% }) %> 


</div>

<%- include("../partials/bottom.html") %> 